{% extends 'base-page.html' %}
{% load bootstrap_icons %}

{% load static %}

{% block title %}
    Home Page
{% endblock title %}

{% block container %}

<head>
    <meta charset="utf-8" />
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'bootstrap_icons/css/bootstrap_icons.css' %}">

</head>



<body >
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
<div class="container">
     {% if obj.count > 0 %}
    <h2>Список мостов</h2>
    <table class="table table-striped table-sm">
        <thead><th>Наименование</th><th>Классификация</th><th>Река</th><th>Cтатус</th><th>Описание</th></thead>

        {% for Object in obj %}
        <tr>
            <!--<td>{{ Object.id_object }}</td>-->
            <td>{{ Object.name_object }}</td>
            <td>{{ Object.id_classification }}</td>
            <td>{{ Object.id_address }}</td>
            {% if Object.status == 1 %}
             <td> Активен </td>
            {% else %}
            <td> Не активен </td>
            {% endif %}


            <td>{{ Object.description }}</td>
         <!--   <td><a href="{% url 'buy' Object.id_object %}">Подробнее</a> </td>-->


        </tr>
        {% endfor %}
    </table>
    {% endif %}
</div>

</body>



{% endblock container %}